body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.card {
    transition: transform 0.3s ease;
}

    .card:hover {
        transform: translateY(-10px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

.card-img-top {
    transition: opacity 0.3s ease;
}

    .card-img-top:hover {
        opacity: 0.9;
    }

footer a {
    text-decoration: none;
}

    footer a:hover {
        text-decoration: underline;
    }
